* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    overflow: auto;
    color: rgba(255, 255, 255, 0.87);
    font-family: "Megrim", system-ui;
    background-image: url(/images/bg.png);
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px; 
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #1e2a47;
    border-radius: 10px; 
    border: 3px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 0 10px 2px rgba(30, 42, 71, 0.8), 0 0 15px 5px rgba(30, 42, 71, 0.6); 
    transition: background 0.3s ease, box-shadow 0.3s ease; 
}

::-webkit-scrollbar-thumb:hover {
    background: #16243d;
    box-shadow: 0 0 20px 5px rgba(30, 42, 71, 1), 0 0 30px 10px rgba(30, 42, 71, 0.7);
}


.loading {
    margin-top: 40vh;
    margin-left: calc(50% - 30px);
    position: absolute;
    background-color: rgba(17, 0, 94, 0);
    height: 60px;
    width: 60px;
    animation: rotate;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    border-left: 3px solid rgba(255, 153, 0, 0.579);
    border-right: 3px solid #00000000;
    border-top: 3px solid #00000000;
    border-bottom: 3px solid #ffcf104b;
    border-radius: 50%;
    opacity: 0;
    animation-delay: 0;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: rotate(180deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.circle {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-left: 50%;
    margin-top: 10px;
    transform: translate(-50%);
    background-color: rgba(0, 255, 255, 0.221);
    box-shadow: 0px 0px 10px aqua;
    border-radius: 50%;
    z-index: 10;
}

.small_rocket {
    height: 15px;
    position: absolute;
    transform: rotate(45deg);
    filter: grayscale(1);
    left: 5px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 1;
    z-index: -5;
    animation-name: display;
    animation-delay: 0s;
    animation-duration: 3s;
}

@keyframes display {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.stars {
    position: absolute;
    z-index: -10;
    top: 0;
    height: 100vh;
    width: 100vw;
    animation-name: pan;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
    animation-delay: 2s;
    transition-duration: 1s;
}

@keyframes pan {
    0% {
        background-position: 0% 40%;
        opacity: 0;
    }

    3% {
        background-position: 0% 37%;
        opacity: 1;
    }

    50% {
        background-position: 0% 0%;
        opacity: 1;
    }

    100% {
        background-position: 0% 40%;
        opacity: 1;
    }
}

.globe {
    width: 100vw;
    height: 100vw;
    background-image: radial-gradient(#24309F, #4656E5, #31C1FF, cyan);
    position: absolute;
    left: 0vw;
    border-radius: 50%;
    animation-name: move;
    animation-duration: 5s;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes move {
    0% {
        bottom: -60vw;
        opacity: 0;
    }

    8% {
        bottom: -60vw;
        opacity: 1;
    }

    75% {
        bottom: -70vw;
        opacity: 1;
    }

    100% {
        bottom: -100vw;
        opacity: 1;
    }
}

.rocket {
    position: absolute;
    height: 20vh;
    bottom: 40vw;
    left: 50vw;
    transform: translate(-50%);
    margin-bottom: -4px;
    animation-name: launch;
    animation-duration: 5s;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes launch {
    0% {
        bottom: 40vw;
        opacity: 0;
    }

    8% {
        bottom: 40vw;
        opacity: 1;
    }

    70% {
        bottom: 60vh;
        opacity: 1;
    }

    75% {
        bottom: 57vh;
        opacity: 1;
    }

    100% {
        bottom: 120vh;
        opacity: 1;
    }
}

.heading {
    margin-top: 40vh;
    margin-left: 50%;
    transform: translate(-50%);
    display: inline;
    position: absolute;
    font-size: 2.2rem;
    animation-name: show;
    animation-duration: 5s;
    animation-delay: 2s;
    opacity: 0;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    67% {
        opacity: 0;
    }

    72% {
        opacity: 0.3;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    background-image: linear-gradient(to right, #00000000, #66666673);
    animation-name: dropdown;
    animation-duration: 7s;
    animation-delay: 0s;
    backdrop-filter: blur(3px);
    opacity: 1;
    z-index: 100;
}

@keyframes dropdown {
    0% {
        margin-top: -40px;
        opacity: 0;
    }

    90% {
        margin-top: -40px;
        opacity: 0;
    }

    95% {
        margin-top: 0px;
        opacity: 1;
    }

    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

.hamburger {
    position: absolute;
    right: 10px;
    margin-top: 7px;
}

.line {
    width: 25px;
    height: 1px;
    background-color: white;
    margin-top: 8px;
}

#l1 {
    margin-top: 10px;
}

.title {
    font-size: 1.7rem;
    margin-top: 7px;
    opacity: 1;
    animation-name: slide;
    animation-duration: 6s;
    animation-delay: 3.5s;
    font-weight: 600;
    margin-left: 10px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes slide {
    0% {
        margin-left: -9rem;
        opacity: 0;
    }

    54.5% {
        margin-left: -9rem;
        opacity: 0;
    }

    76.5% {
        margin-left: 10px;
        opacity: 1;
    }

    100% {
        margin-left: 10px;
        opacity: 1;
    }
}

.line {
    transition-duration: 0.4s;
    transform-origin: 0%;
}



/*=====================================SUN=========================*/
:root {
    --height: calc(100vh - 100px);
}

.sun {
    height: 100vh;
    max-width: 100vw;
    overflow-y: scroll;
}

.planets {
    background-color: black;
    height: calc(100vh - 40px);
    top: 50px;
    position: fixed;
    width: 15px;
    padding-left: 5px;
    padding-right: 15px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    z-index: 10;
    animation-name: glass;
    animation-duration: 9s;
    animation-delay: 0s;
}

.planet {
    height: 7px;
    width: 7px;
    background-color: rgb(0, 255, 234);
    border-radius: 50%;
}

#sun {
    background-image: radial-gradient(yellow, orange, orange);
}

#mercury {
    background-image: radial-gradient(#818181, #395E5C);
}

#venus {
    background-color: #FFC555;
}

#earth {
    background-image: radial-gradient(#1D7000, #027ECE);
}

#mars {
    background-color: #BB5F38;
}

#jupiter {
    background-image: linear-gradient(#FFC887, #FFE1BE, #975100, #FFE6C9, #FFA63E, #FFDCB2);
}

#saturn {
    background-image: linear-gradient(#FDE568, #97883E, #FFED8B);
}

#ring {
    height: 1.7px;
    width: 14px;
    border-radius: 75%;
    background-image: linear-gradient(-180deg, white, rgba(176, 160, 160));
    position: absolute;
    margin-left: -3.5px;
    transform: rotate(-25deg);
    transform-origin: center;
    margin-top: 2.7px;
}

#uranus {
    background-color: #46D9BE;
}

#neptune {
    background-color: #0047D2;
}

.mini_rocket {
    width: 10px;
    margin-left: 15px;
    position: absolute;
    animation-name: drive;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.glass {
    background-color: #7e7e7e32;
    padding: 20px;
    margin: 20px;
    margin-left: 50px;
    margin-top: 60px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    opacity: 1;
    animation-name: glass;
    animation-duration: 9s;
    animation-delay: 0s;
    z-index: -3;
}

#home_button {
    cursor: pointer;
    position: absolute;
    animation-name: glass;
    animation-duration: 9s;
    animation-delay: 0s;
    height: 80px;
    width: 80px;
    margin-left: 41%;
    margin-top: 15%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}


@keyframes glass {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes drive {
    0% {
        bottom: calc((var(--height)/8)*0.2);
    }

    11.11% {
        bottom: calc((var(--height)/8)*1.2);
    }

    22.22% {
        bottom: calc((var(--height)/8)*2.2);
    }

    33.33% {
        bottom: calc((var(--height)/8)*3.2);
    }

    44.44% {
        bottom: calc((var(--height)/8)*4.2);
    }

    55.55% {
        bottom: calc((var(--height)/8)*5.2);
    }

    66.66% {
        bottom: calc((var(--height)/8)*6.2);
    }

    77.77% {
        bottom: calc((var(--height)/8)*7.2);
    }

    88.88% {
        bottom: calc((var(--height)/8)*8.2);
    }

    99.99% {
        bottom: calc((var(--height)/8)*0.2);
    }
}

.big_sun {
    display: none;
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    background-image: radial-gradient(yellow, orange, red);
    position: fixed;
    top: -10vh;
    right: -25vw;
    animation-name: sun_animation;
    animation-duration: 9s;
    animation-delay: 0s;
    z-index: -5;
    box-shadow: 0px 0px 30px rgb(255, 170, 0);
}

@keyframes sun_animation {
    0% {
        opacity: 0;
        margin-top: -25vh;
        right: -50vw;
    }

    70% {
        opacity: 0;
        margin-top: -25vh;
        right: -50vw;
    }

    75% {
        opacity: 1;
        right: -30vw;
    }

    100% {
        margin-top: 0vh;
        opacity: 1;
        right: -25vw;
    }
}

/*====================================GAMES==========*/
#games_navbar {
    animation-name: none;
}

#games_title {
    animation-name: none;
}

#games_planet {
    animation-name: none;
}

#games_glass {
    animation-name: none;
    padding-bottom: 65px;
}

#games_stars {
    animation-delay: 0s;
}

.dashboard {
    width: 66vw;
    border-radius: 10px;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: 0% 0%;
}

.name {
    font-size: 1.4rem;
}

button {
    padding: 5px 10px 5px 10px;
    float: right;
    margin-top: 5px;
    background-color: #00000000;
    border: 1px solid rgba(255, 255, 255, 0.505);
    color: white;
}

.list {
    display: flex;
    position: static;
    overflow-x: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

#list{
    transition-duration: 2s;
}

@keyframes move_up {
    0% {
        margin-top: 70vh;
        margin-left: 60vw;
        opacity: 0.5;
    }

    100% {
        margin-top: 50.3vh;
        margin-left: 25vw;
        opacity: 1;
    }
}

#mercury_code {
    display: none;
    height: 63vh;
    width: 63vh;
    background-image: linear-gradient(-45deg, rgb(232, 114, 84), rgb(216, 160, 86), rgb(203, 156, 91), rgb(196, 101, 78));
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    margin-top: 45vh;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.659);
    margin-top: 50.3vh;
        margin-left: 25vw;
    z-index: -5;
    animation-name: move_up;
    animation-duration: 2s;
}

.spots {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: linear-gradient(-45deg, rgb(241, 132, 78), rgb(251, 213, 76), rgb(226, 63, 63));
    border: 2px solid rgba(0, 0, 0, 0.659);
}

#spot1 {
    margin-left: 45%;
}

#spot2 {
    margin-left: 0%;
    margin-top: 40%;

}

#spot3 {
    margin-top: -70%;
    margin-left: -5%;
}

#spot4 {
    margin-left: 40%;
    margin-top: 25%;
    width: 150px;
    height: 75px;
}

#spot5 {
    width: 90px;
    height: 75px;
    margin-top: -40%;
    transform: rotate(90deg);
    margin-left: 15%;
}

.small_spot {
    width: 70px;
    height: 45px;
    background-image: radial-gradient(rgb(210, 176, 72), rgb(255, 179, 39), rgb(228, 72, 0));
    border: 2px solid rgba(0, 0, 0, 0.43);
    border-radius: 50%;
}

#small_spot1 {
    margin-left: 50%;
    border-radius: 50%;
    margin-top: -10%;
    position: absolute;
    transform: rotate(0deg);
}

#small_spot2 {
    margin-left: 20%;
    margin-top: -30%;
    position: absolute;
}

#small_spot3 {
    transform: rotate(0deg);
    margin-left: 40%;
    margin-top: -10%;
}

/*===================================NAVBAR===========================*/
.blur {
    position: absolute;
    margin-top: 50px;
    height: 0;
    width: 100vw;
    background-image: linear-gradient(to right, #000000e0, #000000e0);
    backdrop-filter: blur(10px);
    transition-duration: 0.2s;

}

.navbar ul {
    margin-top: 80px;
    z-index: 100;
    margin-left: 0;
    transform: translate(-50%);
}

.credits {
    position: absolute;
    top: 90vh;
    left: 50vw;
    transform: translate(-50%);
    text-align: center;
    width: max-content;
    opacity: 0;
    transition-duration: 0.4s;
    z-index: 100;
}

.credits a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar ul li {
    width: 70vw;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-size: 1.2rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

#navbar_list {
    opacity: 0;
    transition-duration: 0.3s;
}

.show {
    opacity: 0;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0px;
    right: 5px;
    display: block;
}

.hide {
    opacity: 0;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0px;
    right: 5px;
    display: none;
}

.play_button{background-image: linear-gradient(to right, #393450 0%, #68657a  51%, #393450  100%)}
.play_button {
    text-decoration: none;
    font-family: monospace;
    font-size: 18px;
    position: absolute;
    margin: 10px;
    right: 20px;
    padding: 8px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.8s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
 }

 .play_button:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
 }


#team_glass{
    animation: none;
    margin-top: 0;
    margin-left: 7vw;
    display: flex;
    flex-direction: column;
}

#team_glass1{
    animation: none;
    margin-top: 10vh;
    margin-left: 7vw;
    display: flex;
    flex-direction: column;
}
.name{
    font-weight: 500;
    font-size: 17px;
    margin-left: 20px;
}
.member_image{
    height: 120px;
    margin-bottom: 10px;
}
.member_intro{
    display: flex;
}
.socials{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}
.socials img{
    height: 20px;
    filter: brightness(0) invert(1);
    margin-left: 10px;
}

@media (max-width: 600px) {
    /* #home_button {
        border: none;
        background: none;
    } */

    #play img{
        height: 100px;
    }

    #play {
        font-size: 30px;
        display: flex;
        margin-top: 65px;
        margin-left: -50px;
    }

    #play:hover{
        font-style: italic;
        color:powderblue;

    }
}