.visitor-counter {

    display: inline-flex;
    bottom: 20px;
    right: 90px;
    background-image: url(/6.png);
    height: 35px;
    width: 500px;
    color: rgba(255, 255, 255, 0.87);
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15),
                0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-family: 'Silkscreen';
  }

  .visitor-counter:hover {

    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .website-counter {
    font-size: 24px;
    font-family: 'Silkscreen';
  }

  @media screen and (max-width: 480px) {

    .visitor-counter {
        height: 30px;
        width: 280px;
        font-size: 12px;
    }

    .website-counter {
        font-size: 12px;
    }
  }

  @media screen and (max-width: 768px) {

    .visitor-counter {
        height: 32px;
        width: 320px;
        font-size: 14px;
    }

    .website-counter {
        font-size: 14px;
    }
  }