* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.87);
    font-family: "Megrim", system-ui;
}

.loading{
    margin-top: 40vh;
    margin-left: calc(50% - 30px);
    position: absolute;
    background-color: rgba(17, 0, 94, 0);
    height: 60px;
    width: 60px;
    animation: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-left: 3px solid rgba(255, 153, 0, 0.579);
    border-right: 3px solid #00000000;
    border-top: 3px solid #00000000;
    border-bottom: 3px solid #ffcf104b;
    border-radius:50%;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.circle{
    position: absolute;
    height: 40px;
    width: 40px;
    margin-left: 50%;
    margin-top: 10px;
    transform: translate(-50%);
    background-color: rgba(0, 255, 255, 0.221);
    box-shadow: 0px 0px 10px aqua;
    border-radius: 50%;
    z-index: 10;
}

.small_rocket{
    height: 15px;
    position: absolute;
    transform: rotate(45deg);
    filter:grayscale(1);
    left:5px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}
.stars{
    position: absolute;
    z-index: -5;
    height: 100vh;
    width: 100vw;
    background-image: url(https://cdn.esahubble.org/archives/images/screen/heic1112d.jpg);
    animation-name: pan;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes pan{
    0%{
        background-position: 0% 40%;
    }
    50%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 0% 40%;
    }
}

.planet {
    width: 140vw;
    height: 140vw;
    background-image: radial-gradient(#24309F, #4656E5, #31C1FF, cyan);
    position:fixed;
    left: -20vw;
    border-radius: 50%;
    animation-name: move;
    animation-duration: 5s;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes move{
    0%{
        bottom: -100vw;
        opacity: 1;
    }
    75%{
        bottom: -110vw;
        opacity: 1;
    }
    100%{
        bottom:-140vw;
        opacity: 1;
    }
}
.rocket {
    position: absolute;
    height: 20vh;
    bottom: 40vw;
    left: 50vw;
    transform: translate(-50%);
    margin-bottom: -4px;
    animation-name: launch;
    animation-duration: 5s;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes launch{
    0%{
        bottom: 40vw;
        opacity: 1;
    }
    70%{
        bottom:60vh;
        opacity: 1;
    }
    75%{
        bottom: 57vh;
        opacity: 1;
    }
    100%{
        bottom:120vh;
        opacity: 1;
    }
}

.heading {
    margin-top: 40vh;
    margin-left: 50%;
    transform: translate(-50%);
    display: inline;
    position: absolute;
    font-weight: 600;
    font-size: 1.8rem;
    animation-name: show;
    animation-duration: 5s;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes show{
    0%{
        opacity: 0;
    }
    67%{
        opacity: 0;
    }
    72%{
        opacity: 0.3;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}

.navbar{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 40px;
    display: flex;
    background-image: linear-gradient(to right ,#00000000,#666666);
    animation-name: dropdown;
    animation-duration: 7s;
    animation-delay: 0s;
    opacity: 1;
}


@keyframes dropdown{
    0%{
        margin-top: -40px;
        opacity: 0;
    }
    75%{
        margin-top: -40px;
        opacity: 0;
    }
    90%{
        margin-top: 0px;
        opacity: 1;
    }
    100%{
        margin-top: 0px;
        opacity: 1;
    }
}
.hamburger{
    position: absolute;
    right: 10px;
}
.line{
    width: 25px;
    height:1px;
    background-color: white;
    margin-top: 8px;
}
#l1{
    margin-top: 10px;
}
.title{
    font-size: 1.7rem;
    margin-top: 7px;
    opacity: 1;
    animation-name: slide;
    animation-duration: 10s;
    animation-delay: 0s;
    font-weight: 600;
    margin-left: 10px;
}

@keyframes slide{
    0%{
        margin-left: -9rem;
        opacity: 0;
    }
    54.5%{
        margin-left: -9rem;
        opacity: 0;
    }
    76.5%{
        margin-left: 10px;
        opacity: 1;
    }
    100%{
        margin-left: 10px;
        opacity: 1;
    }
}

